{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'services' %}">Services</a>
<a href="{% url 'about' %}">About</a>
<a href="{% url 'contact' %}">Contact</a>
<a href="{% url 'blogs' %}">Blogs</a>
<h2>This is my about page

<img src="{% static 'images/html-icon-3d-rendering-illustration-vector.jpg' %}" alt="">
<img src="{% static 'images/CSS-Logo.png' %}" alt="">
<img src="{% static 'images/java-script.jpg' %}" alt="">
<img src="{% static 'images/1200px-Python-logo-notext.svg.png' %}" alt="">

</body>
</html>