{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
</head>
<body>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'services' %}">Services</a>
<a href="{% url 'about' %}">About</a>
<a href="{% url 'contact' %}">Contact</a>
<a href="{% url 'blogs' %}">Blogs</a>
<h2>Here are about my services</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aut beatae blanditiis explicabo fugit harum! Architecto dolore dolores est excepturi fugit illum, incidunt ipsum minima, ratione saepe, sapiente tempore?</span><span>Assumenda at consequatur expedita totam veritatis. Accusantium animi cupiditate deleniti eius explicabo facere iusto, nostrum numquam odio pariatur placeat provident quidem ratione sapiente sint suscipit temporibus totam, vel vitae voluptatem.</span><span>Ab aliquid dolores ducimus, maxime nam non repellat ut voluptatem? Accusantium est ex fuga illo ipsa nisi perferendis possimus. A, ad adipisci assumenda cumque facilis minima nisi nostrum nulla ratione?
</span> </p>

<img src="{% static 'images/html-icon-3d-rendering-illustration-vector.jpg' %}" alt="">
<img src="{% static 'images/CSS-Logo.png' %}" alt="">
<img src="{% static 'images/java-script.jpg' %}" alt="">
<img src="{% static 'images/1200px-Python-logo-notext.svg.png' %}" alt="">

</body>
</html>